$color-blossom: #338618;
$color-fade: #5e5e5e;

$color-bg: #f9f9f9;
$color-bg-alt: #C7E3BE;

$color-text: #4a4a4a;
$font-size-base: 1.8rem;

$font-family-sans-serif: Verdana, Geneva, sans-serif;
$font-family-serif: serif;

@import "_sakura";
@import "_pygments";

.commento-markdown-help pre {
    padding:0.1em;
}

.commento-root .commento-footer {
    margin-top:0;
}

model-viewer {
    width:100%;
    height:684px;
}
.hidden {
    display:None;
}

