<link rel="stylesheet" href="{{STATIC_ROOT}}/media/sakura-earthly.css" type="text/css">
<link rel="stylesheet" href="{{STATIC_ROOT}}/media/pygments.css" type="text/css">

<a href="{{STATIC_ROOT}}/index.md.html"><h1>Outside Context Solutions</h1></a>
{% block content %}

{% endblock %}

<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
    this.page.url = "https://traverseda.github.io/{{self_path}}";
    this.page.identifier = "https://traverseda.github.io/{{self_path}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://traverseda.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
---
Copyright 2019-{{now.year}} Alex Davies

<a href="https://github.com/traverseda/traverseda.github.io/blob/master/{{self_path}}">Revision history</a>

<!-- last regenerated {{now}} -->

<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"> </script>
<style>
model-viewer {
    width:100%;
    height:684px;
}
.hidden {
    display:None;
}
</style>

