<header>
  <link rel="stylesheet" href="{{STATIC_ROOT}}/media/main.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
{%- import 'templates/utils.html.j2' as utils with context %}
</header>

<a href="{{STATIC_ROOT}}/index.md.html"><h1>Outside Context Solutions</h1></a>
{% if breadcrumbs.parts|length > 1 %}
<span>
  {% for crumb in breadcrumbs.parts %}
  <a href="/{{"/".join(breadcrumbs.parts[:loop.index])}}">{{crumb}}</a>{% if not loop.last %} / {% endif %}
  {% endfor %}
</span>
<hr>
{% endif %}
<div class="bodyContent">
{% block content %}{% endblock %}
</div>

{%- block comments %}
{%- endblock %}
                            
<hr>
<p>Copyright 2019-{{now.year}} Alex Davies</p>

<a href="https://github.com/traverseda/traverseda.github.io/blob/master/{{self_path}}">Revision history</a>

<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"> </script>
<script src="https://unpkg.com/htmx.org@1.3.3"></script>
<script data-goatcounter="https://traverseda.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
{#
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154666556-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-154666556-1');
</script>#}
