<header>
<link rel="stylesheet" href="{{STATIC_ROOT}}/media/main.css" type="text/css">
</header>

<a href="{{STATIC_ROOT}}/index.md.html"><h1>Outside Context Solutions</h1></a>
{% if breadcrumbs|length > 1 %}
<span>
  {% for idx, crumb in breadcrumbs %}
  {% if not loop.last %}
  <a href="{{"./"+"../"*idx}}">{{crumb}}</a> /
  {% elif crumb != "index.html" %}{{crumb}}{% endif %}
  {% endfor %}
</span>
<hr>
{% endif %}
{% block content %}{% endblock %}

{% block comments %}
<hr>
<div id="commento">
    <noscript>
        <p>Please enable javascript to view comments</p>
        <a href=https://commento.io/>Comments powered by commento</a>
    </noscript>
</div>
<script src="https://cdn.commento.io/js/commento.js"></script>
{% endblock %}
                            
<hr>
<p>Copyright 2019-{{now.year}} Alex Davies</p>

<a href="https://github.com/traverseda/traverseda.github.io/blob/master/{{self_path}}">Revision history</a>

<!-- last regenerated {{now}} -->

<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"> </script>
{#
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154666556-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-154666556-1');
</script>#}
