{% macro image(name, alttext="") -%}
{% set svgPreview = STATIC_ROOT/'media'/'generated'/('preview_'+name+'.svg') %}
<a href="{{name}}">
    <picture>
        <img src="{{STATIC_ROOT/'media'/'generated'/'684'/name}}"
            alt="{{alttext}}" class="preview"
        />
    </picture>
</a>
        {#<img src="{{STATIC_ROOT/'media'/'generated'/('preview_'+name+'.svg')}}" #}
{#            alt="{{alttext}}" class="preview">#}
{%- endmacro %}

{% macro stl(name, alttext="") -%}
<model-viewer camera-controls reveal="interaction"
    background-color="#C7E3BE"
    src="{{STATIC_ROOT}}/media/generated/3D/{{name}}.glb">
    <img slot="poster" src="{{STATIC_ROOT/'media'/'generated'/'3D'/(name+".png")}}" alt="{{alttext}}"/>
    <a href="{{name}}"><button>Download</button></a>
    <span>{{name}}</span>
</model-viewer>
{%- endmacro %}

{% macro gallery(images) -%}
<div class="gallery">
{% for i in images -%}
    {{image(i)}}
{% endfor %}
</div>
{% endmacro %}

{% macro index(files, root="") %}
<ul class="dirlisting">
    {% for file in files.iterdir()
        if file.name != "index.md" 
        and file.suffix != ".html" 
        and not file.is_dir() -%}
        <li><a href="{{root+file.name}}.html">{{file.name}}</a></li>
    {% endfor %}
    {% for folder in files.iterdir() if not folder.suffix
        and not folder.name.startswith(".")
        and folder.is_dir()
        and folder.iterdir()|list
        and folder.name not in ("templates", "media", "scratchpad")
    -%}
        <li><a href="{{root+folder.name+"/index.html"}}">{{folder.name}}</a>
        {{index(folder, root=folder.name+"/")}}</li>
    {% endfor %}
</ul>
{% endmacro %}
